.bear {
  width: 500px;
  border: 1px solid grey;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: inline-block;
  margin-bottom: 20px;
  
}

h3 {
  text-align: center;
  padding-bottom: 20px;
}

h6 {
  margin-left: 5px;
}

.card {
  margin: 30px;
  text-align: center;
  display: inline-block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.Success {
  color: #28A745
}

.Attempt {
  color: #FFC107
}

